* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-areas: 
        "header  header header header" 
        "sidebar main   main   main" 
        "footer  footer footer footer";
    grid-template-columns: 200px 1fr 1fr 1fr;
    min-height: 100vh;
}

header {
    grid-area: header;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c7e7ef;
}

nav {
    grid-area: sidebar;
    height: 100%;
}

main {
    grid-area: main;
    text-align: center;
    padding: 2rem;
    min-height: 84.5vh;

}

footer {
    grid-area: footer;
    text-align: center;
    padding: 0.2rem 0;
    background-color: #f8f8c6;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
