<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Portifólio - Gabrielly</title>
</head>
<body>
    <header>
        <h1>Gabrielly Sales</h1>
        <p>Desenvolvedora Web</p>
        <nav>
            <ul>
                <li><a href="">Sobre</a></li>
                <li><a href="">Projetos</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Sobre mim</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus commodi dicta, culpa voluptate cumque minus nam officia architecto aperiam sit, officiis rem, atque magni ea dolorem! Doloremque veritatis dicta tempora. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae, velit nostrum nihil ea fugit aspernatur facere alias suscipit recusandae dolore perspiciatis necessitatibus saepe tempora blanditiis incidunt obcaecati iste, dicta pariatur?</p>
        </section>
        <section>
            <h2>Projetos recentes</h2>
            <article>
                <h3>E-comerce</h3>
                <p>Desenvolvimento de uma plataforma e-comerce com foco em acessibilidade e usabilidade.</p>
                <a href="">Ver Projeto</a>
            </article>
            <article>
                <h3>Aplicação de Finanças</h3>
                <p>Criação de uma aplicação para gestão financeira com interface simples e intuitiva.</p>
                <a href="">Ver Projeto</a>
            </article>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Gabrielly Sales - todos os direitos reservados</p>
        <p>Conecte-se comigo:</p>
        <a href="https://github.com/gabriellysaless">GitHub</a>
    </footer>
    
</body>
</html>