@use 'variaveis';

.header {
    background: variaveis.$cor-primaria;
    position: relative;
    padding-bottom: 0.5em;

    &__title {
        color: variaveis.$cor-texto-primario;
        text-align: center;
        font-size: 2.5em;
        padding: 1em;
    }

    &__nav {
        display:block !important;
        text-align: center;
    }

    &__menu {
        padding: variaveis.$config-geral;
        list-style: none;

        &-item {
            display: inline-block;
            margin-right: 4em;
            cursor: pointer;
            color: variaveis.$cor-texto-primario;

            &:hover {
                color: variaveis.$cor-background;
            }
        }
    }

    &__toggle {
        display: none;
    }
}