@use 'variaveis';
@use 'mixins';

/* =============================
   HERO
============================= */

.hero__title {
    @include mixins.titulo-section-padrao;
}

.hero__text {
    margin-bottom: 1em;
}



/* =============================
   ABOUT
============================= */

.about__title {
    @include mixins.titulo-section-padrao
}

.about__text {
    margin: 0.5em 0;
}

.about__values {
    list-style: none;
    margin-top: variaveis.$margin-padrao;
}

.about__value-item {
    margin: 0.3em 0;
}

/* =============================
   SERVICES
============================= */

.services__title {
    @include mixins.titulo-section-padrao
}

.services__intro,
.services__text {
    margin: 0.6em 0;
}

.services__item {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    font-weight: 500;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* =============================
   TESTIMONIALS
============================= */

.testimonials__title {
    @include mixins.titulo-section-padrao
}

.testimonials__quote {
    margin-bottom: 0.2em;
    font-style: italic;
}

.testimonials__author {
    margin-bottom: 1em;
    font-weight: bold;
    color: #444;
}

/* =============================
   CONTACT
============================= */

.contact__title {
    @include mixins.titulo-section-padrao
}

.contact__label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.contact__textarea {
    resize: none;
}