$cor-primaria: #4739BC;
$cor-background: #fff;
$cor-background-button: #efedff;
$cor-background-button-h: #cfcaf5;
$cor-texto: #333;
$cor-texto-primario: #D2CEF3;
$cor-texto-button: #72094f;

$config-geral: 0px;
$tam-fonte-padrao: 1.6em;
$margin-padrao: 0.8em;