* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
  position: relative;
  background-color: #4739BC;
  color: #D2CEF3;
}

header > h1 {
  text-align: center;
  font-size: 2.5em;
  padding: 1em;
}

.menu {
  display: block;
}

#burguer{
  display: none;
}

.menu li {
  display: inline-block;
  margin-right: 5em;
  cursor: pointer;
}

.menu li:hover {
  color: white;
}

main {
  margin: 1.5em 1em;
}

section {
  padding: 0.5em;
  line-height: 1.6;
}

#btn-servico{
  display: block;
  margin: 0 auto;
  font-weight: bold;
  font-size: 15px;
  width: 100%;
  padding: 5px;
  border: none;
  background-color: #efedff;
  color: #72094f;
  border-radius: 5px;
}

#btn-servico:hover {
  background-color: #cfcaf5;
  font-size: 15.3px;
}

.lista-servicos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

.servico {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

input {
  margin: 12px 0px;
}

textarea {
  display: block;
}

#msg {
  margin-top: 10px;
  font-size: 15px;
  padding: 5px;
  border: none;
  background-color: #b9b6cf;
  color: #2e0520;
  border-radius: 5px;
}

#msg:hover {
  font-weight: bold;
  background-color: #a09eb4;

}

footer {
  font-size: 12px;
  background-color: #4739BC;
  color: #efedff;
  padding: 5px;
  text-align: center;
}

footer a {
  color: #efedff;
  text-decoration: none;
}

footer a:hover {
  color: #cfcaf5;
}

/* Dispositivos Pequenos (celulares) */
@media (max-width: 600px) {
  #burguer {
  background-color: #D2CEF3;
  color: #72094f;
  display: block;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

  #burguer:hover {
    background-color: #b2afce;
  }

  #navMenu {
    display: none;
  }

  .menu{
  padding: 0;
  }

  .menu li {
    display: block;
    text-align: center;
    width: 100%;
    padding: 5px 5px 5px 0;
    margin: 2px 0;
    background-color: #cfcaf5;
    color: #72094f;
  }

  .menu li:hover {
    background-color: #b2afce;
  }
}


