@use 'variaveis';

.conteudo {
    padding: variaveis.$espacamento-padrao;

    &__paragrafo {
        font-size: 18px;
    }

    &__link {
        color: variaveis.$cor-primaria;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}